<h1 class="text-center">VETERNARY CLINIC MANAGEMENT SYSTEM</h1>

<nav class="navbar navbar-expand-sm  navbar-dark">
  <ul class = "navbar-nav">
     <li class="nav-items">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">EMPLOYEE LIST</a>
       </li>
       <li class="nav-items">
        <a routerLink="save-newemployee" routerLinkActive="active" class="nav-link">ADD EMPLOYEE</a>
  </ul>
</nav>



<div class="container">
      <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container" class="text-center">
    <span>DONE BY PRIYA SAI MANOHAR</span>
  </div>
</footer>